body {
	font-size: 17px;
	line-height: 27px;
	width: 700px;
	margin: 0px auto;
}

ul {
	list-style: none;
	padding-left: 0px;
	display: block;
}

ul li {
	margin-bottom: 25px;
}

img {
	max-width: 100%;
}

.price {
	color: #a7b5bc;
}

#title {
	text-align: center;
	font-size: 39px;
	font-weight: bolder;
	font-family: cursive, serif;
}






















































